body {
	background: #1a2a6c;
	background: -webkit-linear-gradient(to bottom, #1a2a6c, #b21f1f, #fdbb2d);
	background: linear-gradient(to bottom, #1a2a6c, #b21f1f, #fdbb2d);
	height: 100vh;
	margin: 0px;
}

div {
	text-align: center;
}
h1, h2 {
	color: #FFF;
}
h1{
	padding-top: 12%;
	font-size: 50px;
}
h2{
	padding-top: 1%;
	font-size: 30px;	
}
input {
	height: 30px;
	width: 60%;
}
button {
	height: 30px;
	width: 100px;
	margin-left: 2%;
	text-align: center;
}